<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanças Pessoais</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Controle de Finanças Pessoais</h1>
            <nav>
                <a href="index.php?action=listar">Lista de Finanças</a>
                <a href="index.php?action=adicionar">Adicionar Transação</a>
            </nav>
        </header>
        <main>
       
        </main>
    </div>
</body>
</html>
